/* ==========================================================================
	Base
	========================================================================== */

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
}

/* ==========================================================================
   Overrides
   ========================================================================== */

* {

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	        backface-visibility: hidden;
}

table,
table tr,
table th,
table td, {
	-webkit-backface-visibility: visible;
	   -moz-backface-visibility: visible;
	    -ms-backface-visibility: visible;
	        backface-visibility: visible;
}

/* ==========================================================================
   Utility
   ========================================================================== */

.container-inline {
	label,
	input {
		display: inline-block;
		margin: 0px;
		vertical-align: top;
	}
}

.element-invisible {
	display: none;
}

/* Margin */

.no-margin {
	margin: 0;
}

.no-margin-top {
	margin-top: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-margin-left {
	margin-left: 0;
}

.no-margin-right {
	margin-right: 0;
}

/* Padding */

.no-padding {
	padding: 0;
}

.no-padding-top {
	padding-top: 0;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

/* Alignment */

.align-middle {

	display: table;
	height: 100%;
	width: 100%;

	& > div {
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		width: 100%;
	}
}

/* Position */

.fill() {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.center() {
	margin-left: auto;
	margin-right: auto;
}

