/* ==========================================================================
   Imports
   ========================================================================== */

@import "bootstrap/bootstrap.less";
@import "typo.less";
@import "base.less";

/* ==========================================================================
   Main Header
   ========================================================================== */

.main-header {
	@media (min-width: @screen-sm) { }
	@media (min-width: @screen-md) { }
	@media (min-width: @screen-lg) { }
}

/* ==========================================================================
   Main Footer
   ========================================================================== */

.main-footer {
	@media (min-width: @screen-sm) { }
	@media (min-width: @screen-md) { }
	@media (min-width: @screen-lg) { }
}

/* ==========================================================================
   Main Content
   ========================================================================== */

.main-content {
	@media (min-width: @screen-sm) { }
	@media (min-width: @screen-md) { }
	@media (min-width: @screen-lg) { }
}

/* ==========================================================================
   Node
   ========================================================================== */

.node {
	@media (min-width: @screen-sm) { }
	@media (min-width: @screen-md) { }
	@media (min-width: @screen-lg) { }
}

/* ==========================================================================
   Page Nodes
   ========================================================================== */

.page-node {
	@media (min-width: @screen-sm) { }
	@media (min-width: @screen-md) { }
	@media (min-width: @screen-lg) { }
}

/* ==========================================================================
   Blocks
   ========================================================================== */

.block {
	@media (min-width: @screen-sm) { }
	@media (min-width: @screen-md) { }
	@media (min-width: @screen-lg) { }
}

/* ==========================================================================
   Views
   ========================================================================== */

.view {
	@media (min-width: @screen-sm) { }
	@media (min-width: @screen-md) { }
	@media (min-width: @screen-lg) { }
}
