/* ==========================================================================
   Admin
   ========================================================================== */

ul.primary {
	border-bottom: 1px solid #e5e5e5;
}

ul.primary li a {
	border: 1px solid #e5e5e5;
	border-bottom: none;
	background: #f5f5f5;
	display: inline-block;
	font-family: "HelveticaNeue", Sans-Serif;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

ul.primary li a.active {
	border-left-color: #e5e5e5;
	border-right-color: #e5e5e5;
	border-top-color: #e5e5e5;
}

/* ==========================================================================
   Panopoly
   ========================================================================== */

/* Nav Bar */

#navbar-bar {
	background: #ddd;
	border-bottom: 1px solid #ccc;
	font-family: Sans-Serif;
	font-weight: normal;
	box-shadow: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

#navbar-bar .navbar-tab .navbar-icon {
	border-radius: 5px;
	color: #333;
	font-family: "HelveticaNeue-Medium", Sans-Serif;
	font-weight: normal;
	font-size: 14px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

#navbar-bar .navbar-tab .navbar-icon.active {
	color: #fff;
	background: #999;
}

#navbar-bar .navbar-tab .navbar-icon:before {
	display: none;
}

.navbar-tray {
	border: none !important;
	border-bottom: 1px solid #ddd !important;
	box-shadow: none !important;
	font-family: "HelveticaNeue-Medium", Sans-Serif;
	font-weight: normal;
	font-size: 13px;
}

.navbar-tray .navbar-icon {
	padding: 10px !important;
	padding-left: 35px !important;
	padding-right: 15px !important;
}

.navbar-tray .navbar-lining {
	background: #fafafa;
}

/* Panels Placeholders */

div.panels-ipe-placeholder {
	border: 1px dashed #bde1ef;
	font-size: 16px;
	font-weight: bold;
	font-family: "HelveticaNeue-Bold", Sans-Serif;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

div.panels-ipe-placeholder h3 {
	color: #177ca4;
	font-size: 16px;
	font-weight: bold;
	font-family: "HelveticaNeue-Bold", Sans-Serif;
}

div.panels-ipe-newblock a,
div.panels-ipe-handlebar-wrapper li a,
div.panels-ipe-dragtitle span,
span.panels-ipe-draghandle-icon {
	border: none;
	border-radius: 4;
	background: transparent;
	box-shadow: none;
}

div.panels-ipe-handlebar-wrapper li a:hover,
div.panels-ipe-dragtitle span:hover,
div.panels-ipe-newblock a:hover,
span.panels-ipe-draghandle-icon:hover,
div.panels-ipe-handlebar-wrapper li a:focus,
div.panels-ipe-newblock a:focus {
	background: #fff;
}

div.panels-ipe-draghandle,
div.panels-ipe-nodraghandle {
	background: #f5f5f5;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

div.panels-ipe-handlebar-wrapper {
	border-bottom: 1px solid #e5e5e5;
}

.panels-ipe-editing
div.panels-ipe-portlet-wrapper {
	border: 1px solid #e5e5e5;
}

.panels-ipe-editing .panels-ipe-portlet-content {
	margin: 0px;
	margin: 15px;
}

/* Chaos Tools Modal Content */

#modalContent div.ctools-modal-content .modal-header {
	background: #d5d5d5;
	border-bottom: 1px solid #c5c5c5;
	border-radius: 0px;
	height: auto;
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: baseline;
}

#modalContent div.ctools-modal-content .modal-header .modal-title {
	color: #555;
	font-family: "HelveticaNeue-Bold", Sans-Serif;
	font-weight: bold;
	font-size: 16px;
}

#modalContent div.ctools-modal-content {
	color: #333;
	border-radius: 0;
	font-family: 'HelveticaNeue', Sans-Serif;
	font-weight: normal;
	font-size: 14px;
	margin: 0px;
}

#modalContent div.ctools-modal-content .modal-content {
	box-shadow: none;
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 20px;
	width: 100%;
}

#modalContent .ctools-modal-content a.close {
	margin-top: 18px;
}

#modalContent .ctools-modal-content .form-item .description {
	margin-top: 5px;
}

/* Modal Content */

#modal-content fieldset {
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 0px;
	clear: none;
	margin-top: 0px;
	margin-bottom: 15px;
	padding: 10px;
	padding-top: 35px;
	position: relative;
	top: auto;
	width: auto;
}

#modal-content fieldset.widget-preview-single {
	margin-top: 0px;
	margin-bottom: 0px;
}

#modal-content fieldset .fieldset-wrapper {
	margin: 0px;
	padding: 0px;
}

#modal-content fieldset legend {
	background: #f5f5f5;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	border-radius: 0;
	display: block;
	height: 35px;
	left: 0px;
	line-height: 35px;
	position: absolute;
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	right: 0px;
	top: 0px;
	text-indent: 0px;
	text-shadow: none;
	width: auto;
}

#modal-content fieldset legend .fieldset-legend {
	color: #555;
	font-family: "HelveticaNeue-Bold", Sans-Serif;
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	vertical-align: baseline;
	position: relative;
	top: -2px;
}

#modal-content input[type="radio"],
#modal-content input[type="checkbox"] {
	margin: 0px;
}

#modal-content .form-submit {
	box-shadow: none;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	font-family: "HelveticaNeue-Bold", Sans-Serif;
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
}

#modal-content .form-submit:hover {
	background: #fff;
}

/* Panel Category Description */

#modal-content .panels-categories-description {
	border: 1px solid #e5e5e5;
	padding: 15px;
}

/* Modal Window Add Content */

#modalContent .panels-section-column-categories .content-type-button a {
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	border-right: 0px solid #e5e5e5;
	border-radius: 0;
	font-family: "HelveticaNeue", Sans-Serif;
	font-size: 13px;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	position: relative;
	width: 100%;
}

#modalContent .panels-section-column-categories .content-type-button a:hover {
	background: #fff;
}

#modalContent .panels-section-column-categories .content-type-button img {
	background: transparent;
	border: none !important;
	border-radius: 0;
	display: block;
	left: 15px;
	position: absolute;
}

#modalContent .panels-section-column-categories .content-type-button span {
	display: block;
	margin: 0px;
	padding: 0px;
}

/* Bootstrap Containers */

.panel-display.container,
.panel-display .container {
	padding-left: 0px;
	padding-right: 0px;
	width: auto !important;
}